.xAxis path, .yAxis path {
    stroke: black;
    stroke-width: 2px;
    fill: none;
}

text {
    font-family: helvetica, sans-serif;
    font-size: 10px;
}

.san-francisco {
    fill: orange;
}

.new-york {
    fill: blue;
}

.austin {
    fill: red;
}

.portland {
    fill: green;
}

.miami {
    fill: yellow;
}

.boston {
    fill: purple
}
